api/soap/wsdl.xml

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://api.ecr:8081/index.php?ws=1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ApiController" targetNamespace="http://api.ecr:8081/index.php?ws=1">
  <types>
    <xsd:schema targetNamespace="http://api.ecr:8081/index.php?ws=1">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <xsd:complexType name="itemOfBrigade">
        <xsd:sequence>
          <xsd:element name="guid" type="xsd:string"/>
          <xsd:element name="name" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Brigade">
        <xsd:sequence>
          <xsd:element name="Brigade" type="tns:itemOfBrigade" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="unloadbrigade">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="brigades" type="tns:Brigade"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Responce">
        <xsd:sequence>
          <xsd:element name="success" type="xsd:boolean"/>
          <xsd:element name="error" type="xsd:string" nillable="true"/>
          <xsd:element name="errorMessage" type="xsd:string" nillable="true"/>
          <xsd:element name="errorUserMessage" type="xsd:string" nillable="true"/>
          <xsd:element name="errorsExtend" type="soap-enc:Array" nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="unloadbrigadeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returns" type="tns:Responce"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="test">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="msg" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="testResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returns" type="tns:Responce"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="itemOfWorker">
        <xsd:sequence>
          <xsd:element name="guid" type="xsd:string"/>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="brigade_guid" type="xsd:string" nillable="true"/>
          <xsd:element name="technic_guid" type="xsd:string" nillable="true"/>
          <xsd:element name="ktu" type="xsd:float" nillable="true"/>
          <xsd:element name="is_master" type="xsd:boolean"/>
          <xsd:element name="login" type="xsd:string" nillable="true"/>
          <xsd:element name="password" type="xsd:string" nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Worker">
        <xsd:sequence>
          <xsd:element name="Worker" type="tns:itemOfWorker" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="unloadworker">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="workers" type="tns:Worker"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="unloadworkerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returns" type="tns:Responce"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="itemOfTechnic">
        <xsd:sequence>
          <xsd:element name="guid" type="xsd:string"/>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="marka" type="xsd:string"/>
          <xsd:element name="number" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Technic">
        <xsd:sequence>
          <xsd:element name="Technic" type="tns:itemOfTechnic" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="unloadtechnic">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="technics" type="tns:Technic"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="unloadtechnicResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returns" type="tns:Responce"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="itemOfObjects">
        <xsd:sequence>
          <xsd:element name="guid" type="xsd:string"/>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="boundary_guid" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Objects">
        <xsd:sequence>
          <xsd:element name="Objects" type="tns:itemOfObjects" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="unloadobject">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="objects" type="tns:Objects"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="unloadobjectResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returns" type="tns:Responce"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="itemOfBoundary">
        <xsd:sequence>
          <xsd:element name="guid" type="xsd:string"/>
          <xsd:element name="name" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Boundary">
        <xsd:sequence>
          <xsd:element name="Boundary" type="tns:itemOfBoundary" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="unloadboundary">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="boundaries" type="tns:Boundary"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="unloadboundaryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returns" type="tns:Responce"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="itemOfProject">
        <xsd:sequence>
          <xsd:element name="guid" type="xsd:string"/>
          <xsd:element name="name" type="xsd:string"/>
          <xsd:element name="objects_guids" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Project">
        <xsd:sequence>
          <xsd:element name="Project" type="tns:itemOfProject" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="unloadproject">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="projects" type="tns:Project"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="unloadprojectResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returns" type="tns:Responce"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="itemOfTypeOfWork">
        <xsd:sequence>
          <xsd:element name="guid" type="xsd:string"/>
          <xsd:element name="name" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TypeOfWork">
        <xsd:sequence>
          <xsd:element name="TypeOfWork" type="tns:itemOfTypeOfWork" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="unloadtypeofwork">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="works" type="tns:TypeOfWork"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="unloadtypeofworkResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returns" type="tns:Responce"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="itemOfLine">
        <xsd:sequence>
          <xsd:element name="guid" type="xsd:string"/>
          <xsd:element name="name" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Line">
        <xsd:sequence>
          <xsd:element name="Line" type="tns:itemOfLine" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="unloadline">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lines" type="tns:Line"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="unloadlineResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returns" type="tns:Responce"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="itemOfNomenclature">
        <xsd:sequence>
          <xsd:element name="guid" type="xsd:string"/>
          <xsd:element name="name" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Nomenclature">
        <xsd:sequence>
          <xsd:element name="Nomenclature" type="tns:itemOfNomenclature" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="unloadnomenclature">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="nomenclatures" type="tns:Nomenclature"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="unloadnomenclatureResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returns" type="tns:Responce"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RaportFile">
        <xsd:sequence>
          <xsd:element name="file" type="xsd:base64Binary"/>
          <xsd:element name="type" type="xsd:string"/>
          <xsd:element name="file_name" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RaportMaterial">
        <xsd:sequence>
          <xsd:element name="nomenclature_guid" type="xsd:string"/>
          <xsd:element name="was" type="xsd:float" nillable="true"/>
          <xsd:element name="spent" type="xsd:float"/>
          <xsd:element name="rest" type="xsd:float" nillable="true"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RaportWork">
        <xsd:sequence>
          <xsd:element name="work_guid" type="xsd:string"/>
          <xsd:element name="line_guid" type="xsd:string"/>
          <xsd:element name="mechanized" type="xsd:boolean"/>
          <xsd:element name="length" type="xsd:float"/>
          <xsd:element name="count" type="xsd:float"/>
          <xsd:element name="squaremeter" type="xsd:float"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RaportConsist">
        <xsd:sequence>
          <xsd:element name="technic_guid" type="xsd:string"/>
          <xsd:element name="user_guid" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="itemOfRaport">
        <xsd:sequence>
          <xsd:element name="guid" type="xsd:string"/>
          <xsd:element name="number" type="xsd:string"/>
          <xsd:element name="status" type="xsd:string"/>
          <xsd:element name="created_at" type="xsd:dateTime"/>
          <xsd:element name="starttime" type="xsd:time"/>
          <xsd:element name="endtime" type="xsd:time"/>
          <xsd:element name="temperature_start" type="xsd:float" nillable="true"/>
          <xsd:element name="temperature_end" type="xsd:float" nillable="true"/>
          <xsd:element name="surface_temperature_start" type="xsd:float" nillable="true"/>
          <xsd:element name="surface_temperature_end" type="xsd:float" nillable="true"/>
          <xsd:element name="airhumidity_start" type="xsd:float" nillable="true"/>
          <xsd:element name="airhumidity_end" type="xsd:float" nillable="true"/>
          <xsd:element name="brigade_guid" type="xsd:string"/>
          <xsd:element name="object_guid" type="xsd:string"/>
          <xsd:element name="boundary_guid" type="xsd:string" nillable="true"/>
          <xsd:element name="project_guid" type="xsd:string"/>
          <xsd:element name="master_guid" type="xsd:string"/>
          <xsd:element name="user_guid" type="xsd:string"/>
          <xsd:element name="comment" type="xsd:string" nillable="true"/>
          <xsd:element name="files" type="tns:RaportFile" nillable="true" minOccurs="1" maxOccurs="unbounded"/>
          <xsd:element name="materials" type="tns:RaportMaterial" minOccurs="1" maxOccurs="unbounded"/>
          <xsd:element name="works" type="tns:RaportWork" minOccurs="1" maxOccurs="unbounded"/>
          <xsd:element name="consist" type="tns:RaportConsist" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Raport">
        <xsd:sequence>
          <xsd:element name="Raport" type="tns:itemOfRaport" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="unloadraport">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="raports" type="tns:Raport"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="unloadraportResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returns" type="tns:Responce"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RemnantsItem">
        <xsd:sequence>
          <xsd:element name="nomenclature_guid" type="xsd:string"/>
          <xsd:element name="count" type="xsd:float"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="itemOfRemnantsPackage">
        <xsd:sequence>
          <xsd:element name="user_guid" type="xsd:string"/>
          <xsd:element name="items" type="tns:RemnantsItem" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RemnantsPackage">
        <xsd:sequence>
          <xsd:element name="RemnantsPackage" type="tns:itemOfRemnantsPackage" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="unloadremnant">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="remnants" type="tns:RemnantsPackage"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="unloadremnantResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="returns" type="tns:Responce"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <portType name="ApiControllerPort">
    <operation name="unloadbrigade">
      <documentation>unload Brigades</documentation>
      <input message="tns:unloadbrigadeIn"/>
      <output message="tns:unloadbrigadeOut"/>
    </operation>
    <operation name="test">
      <documentation>Stest method</documentation>
      <input message="tns:testIn"/>
      <output message="tns:testOut"/>
    </operation>
    <operation name="unloadworker">
      <documentation>unload workers</documentation>
      <input message="tns:unloadworkerIn"/>
      <output message="tns:unloadworkerOut"/>
    </operation>
    <operation name="unloadtechnic">
      <documentation>unload technics</documentation>
      <input message="tns:unloadtechnicIn"/>
      <output message="tns:unloadtechnicOut"/>
    </operation>
    <operation name="unloadobject">
      <documentation>unload objects</documentation>
      <input message="tns:unloadobjectIn"/>
      <output message="tns:unloadobjectOut"/>
    </operation>
    <operation name="unloadboundary">
      <documentation>unload boundary</documentation>
      <input message="tns:unloadboundaryIn"/>
      <output message="tns:unloadboundaryOut"/>
    </operation>
    <operation name="unloadproject">
      <documentation>unload projects</documentation>
      <input message="tns:unloadprojectIn"/>
      <output message="tns:unloadprojectOut"/>
    </operation>
    <operation name="unloadtypeofwork">
      <documentation>unload typeofworks</documentation>
      <input message="tns:unloadtypeofworkIn"/>
      <output message="tns:unloadtypeofworkOut"/>
    </operation>
    <operation name="unloadline">
      <documentation>unload lines</documentation>
      <input message="tns:unloadlineIn"/>
      <output message="tns:unloadlineOut"/>
    </operation>
    <operation name="unloadnomenclature">
      <documentation>unload nomenclatures</documentation>
      <input message="tns:unloadnomenclatureIn"/>
      <output message="tns:unloadnomenclatureOut"/>
    </operation>
    <operation name="unloadraport">
      <documentation>unload raports</documentation>
      <input message="tns:unloadraportIn"/>
      <output message="tns:unloadraportOut"/>
    </operation>
    <operation name="unloadremnant">
      <documentation>unload RemnantsPackage</documentation>
      <input message="tns:unloadremnantIn"/>
      <output message="tns:unloadremnantOut"/>
    </operation>
  </portType>
  <binding name="ApiControllerBinding" type="tns:ApiControllerPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="unloadbrigade">
      <soap:operation soapAction="http://api.ecr:8081/index.php?ws=1#unloadbrigade"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="test">
      <soap:operation soapAction="http://api.ecr:8081/index.php?ws=1#test"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="unloadworker">
      <soap:operation soapAction="http://api.ecr:8081/index.php?ws=1#unloadworker"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="unloadtechnic">
      <soap:operation soapAction="http://api.ecr:8081/index.php?ws=1#unloadtechnic"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="unloadobject">
      <soap:operation soapAction="http://api.ecr:8081/index.php?ws=1#unloadobject"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="unloadboundary">
      <soap:operation soapAction="http://api.ecr:8081/index.php?ws=1#unloadboundary"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="unloadproject">
      <soap:operation soapAction="http://api.ecr:8081/index.php?ws=1#unloadproject"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="unloadtypeofwork">
      <soap:operation soapAction="http://api.ecr:8081/index.php?ws=1#unloadtypeofwork"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="unloadline">
      <soap:operation soapAction="http://api.ecr:8081/index.php?ws=1#unloadline"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="unloadnomenclature">
      <soap:operation soapAction="http://api.ecr:8081/index.php?ws=1#unloadnomenclature"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="unloadraport">
      <soap:operation soapAction="http://api.ecr:8081/index.php?ws=1#unloadraport"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="unloadremnant">
      <soap:operation soapAction="http://api.ecr:8081/index.php?ws=1#unloadremnant"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="ApiControllerService">
    <port name="ApiControllerPort" binding="tns:ApiControllerBinding">
      <soap:address location="http://api.ecr:8081/index.php?ws=1"/>
    </port>
  </service>
  <message name="unloadbrigadeIn">
    <part name="parameters" element="tns:unloadbrigade"/>
  </message>
  <message name="unloadbrigadeOut">
    <part name="parameters" element="tns:unloadbrigadeResponse"/>
  </message>
  <message name="testIn">
    <part name="parameters" element="tns:test"/>
  </message>
  <message name="testOut">
    <part name="parameters" element="tns:testResponse"/>
  </message>
  <message name="unloadworkerIn">
    <part name="parameters" element="tns:unloadworker"/>
  </message>
  <message name="unloadworkerOut">
    <part name="parameters" element="tns:unloadworkerResponse"/>
  </message>
  <message name="unloadtechnicIn">
    <part name="parameters" element="tns:unloadtechnic"/>
  </message>
  <message name="unloadtechnicOut">
    <part name="parameters" element="tns:unloadtechnicResponse"/>
  </message>
  <message name="unloadobjectIn">
    <part name="parameters" element="tns:unloadobject"/>
  </message>
  <message name="unloadobjectOut">
    <part name="parameters" element="tns:unloadobjectResponse"/>
  </message>
  <message name="unloadboundaryIn">
    <part name="parameters" element="tns:unloadboundary"/>
  </message>
  <message name="unloadboundaryOut">
    <part name="parameters" element="tns:unloadboundaryResponse"/>
  </message>
  <message name="unloadprojectIn">
    <part name="parameters" element="tns:unloadproject"/>
  </message>
  <message name="unloadprojectOut">
    <part name="parameters" element="tns:unloadprojectResponse"/>
  </message>
  <message name="unloadtypeofworkIn">
    <part name="parameters" element="tns:unloadtypeofwork"/>
  </message>
  <message name="unloadtypeofworkOut">
    <part name="parameters" element="tns:unloadtypeofworkResponse"/>
  </message>
  <message name="unloadlineIn">
    <part name="parameters" element="tns:unloadline"/>
  </message>
  <message name="unloadlineOut">
    <part name="parameters" element="tns:unloadlineResponse"/>
  </message>
  <message name="unloadnomenclatureIn">
    <part name="parameters" element="tns:unloadnomenclature"/>
  </message>
  <message name="unloadnomenclatureOut">
    <part name="parameters" element="tns:unloadnomenclatureResponse"/>
  </message>
  <message name="unloadraportIn">
    <part name="parameters" element="tns:unloadraport"/>
  </message>
  <message name="unloadraportOut">
    <part name="parameters" element="tns:unloadraportResponse"/>
  </message>
  <message name="unloadremnantIn">
    <part name="parameters" element="tns:unloadremnant"/>
  </message>
  <message name="unloadremnantOut">
    <part name="parameters" element="tns:unloadremnantResponse"/>
  </message>
</definitions>
